* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contactTable {
	justify-content: center;
	align-content: center;
}

.contactTable td {
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 30px 0;
	justify-content: center;
	align-items: center;
	display: flex;
	width: 100%;
}

.footerContent {
	display: flex;
	flex-direction: column;
	align-items: center;
}


footer h3 {
	font-size: 24px;
	color: #ffc107;
	padding-bottom: 1em;
}

a {
	text-decoration: none;
	color: #FFCC29;
}

body {
	font-family: 'Krub', cursive;
	cursor: auto;
}

.productTable {
	padding-left: 0em;
	text-align: justify;
}

.productTable p {
	padding: 2em;
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
}

.productTable h3 {
	text-align: center;
	font-weight: bold;
	margin-top: 30px;
}

.productDiv {
	padding-left: 3em;
	padding-right: 3em;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	color: #fff;
	padding: 20px;
}


.logo img {
	height: 50px;
}

nav ul {
	list-style: none;
	display: flex;
	margin-top: 2em;
    padding-right: 2em;
}

nav li {
	margin: 0 10px;
	padding-right: 1em;
}

nav a {
	color: #FFCC29;
	text-decoration: none;
	font-style: normal;
	font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

nav a:hover {
	text-decoration: underline;
}

#bodymain {
	width: 100%;
	height: 100%;
	box-shadow: 3px 3px 3px black;

}

.divmain {
	width: 1200px;
	height: 100%;
	background-color: #dcdcde;
	margin: 0 auto;

}

.couplePhoto {
	width: 375px;
	height: 464px;
	float: left;
	margin-left: 110px;
	box-shadow: -80px -80px 0px #333;
	border-radius: 5px;
}


.black {
	width: 270px;
	height: 420px;
	background-color: black;
	z-index: 1;
	margin-left: 5%;
	border-radius: 5px 5px 5px 5px;
	margin-top: 240px;

}


.titleOurStory {
	width: 75%;
	height: 30%;
	background-color: #FFCC29;
	border-radius: 5px;
	text-align: right;
	padding: 1em;
	justify-content: right;
	display: flex;
	color: #4D4D4D;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 52px;
}


.titleCardapio {
	width: 75%;
	height: 30%;
	background-color: #FFCC29;
	margin-top: 3em;
	border-radius: 5px;
	text-align: center;
	padding: 1em;
	justify-content: center;
	display: flex;
	float: right;
	color: #4D4D4D;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 52px;
}

.titleEdicaoLimitada {
	width: 75%;
	height: 30%;
	background-color: #FFCC29;
	margin-top: 3em;
	border-radius: 5px;
	text-align: center;
	padding: 1em;
	justify-content: center;
	display: flex;
	color: #4D4D4D;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 52px;
}

.productImage {
	padding: 0em;
}

.productImage img {
	border-radius: 10px;
	border: 3px solid white;
	width: 225px;
	height: 225px;
}

.space {
	display: inline-block;
	padding: 10%;
}

.ContactsImg{
	width: 30px;
	height: 30px;
}